main{
    margin: 30px;
}
.link {
    display: flex;
    justify-content: space-around;
}

/*ul{*/
/*    list-style-type: none;*/
/*}*/
/*ul li a{*/
/*    text-decoration: none;*/
/*    color:black;*/
/*}*/

/*#allForm{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    max-width: 70rem;*/
/*}*/
/*#butonAjou button,input{*/
/*    width: 400px;*/
/*}*/

/*#listeItems li{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    border: gray solid 1px;*/
/*    padding: 10px;*/

/*}*/
/*#formdestin{*/
/*    text-align: center;*/
/*}*/

input, button{
    margin: 8px;
}


span{
    background: green;
    border-radius: 8px;
    color: white;
    text-align: center;
}
#listeItems #total{
    justify-content: right;
    border: none;
}
/*selecteur descendant*/
#maliste p{
    display: flex;
        justify-content: space-between;
        border: gray solid 1px;
        padding: 10px;
}