.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
#formulaire,.col-4,li{
    border: black 1px solid;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;

}

h1{
margin-left: 200px;
    margin-top: 50px;
    color:  black;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
}